SHUTTLEAI_API_KEY='' # ShuttleAI API Key, get it from https://shuttleai.app/
DISCORD_BOT_TOKEN='' # Discord Bot Token, get it from https://discord.com/developers/applications

STREAM_URL='' # Stream URL, Twitch or YouTube URL
STREAM_NAME='' # Stream Name, e.g. /imagine

MONGO_URI='' # MongoDB URI, e.g. mongodb://localhost:27017

OWNER_IDS='' # Bot owner discord IDs, separated by comma (,)